ion-item:hover{
    --background: rgb(165, 240, 140);
    --color:var(--ion-color-dark)
}


ion-item::part(detail-icon){
    color: rgb(165, 240, 140);
    opacity: 1;
}
ion-tab-bar {
    height: 50px;
    width: 100%;
    position: relative;
    color: green;
    transform: translate(-50%, -30%);
    left: 50%;
    border-radius: 25px;
  }
  .custom-fab {
    bottom: 30px; /* Adjust the value as needed */
  }