ion-item:hover{
    --background: rgb(165, 240, 140);
    --color:var(--ion-color-dark)
}


ion-item::part(detail-icon){
    color: rgb(165, 240, 140);
    opacity: 1;
}
ion-tab-bar {
    height: 50px;
    width: 100%;
    position: relative;
    color: rgb(243, 246, 243);
    transform: translate(-50%, -30%);
    left: 50%;
    border-radius: 25px;
  }
  .custom-fab {
    bottom: 30px; /* Adjust the value as needed */
  }
  ion-tab-button.tab-selected {
    color: rgb(236, 239, 236); /* Change the color to white when selected */
  }
  
  /* Optional: Style for the tab bar background */
  ion-tab-bar {
    background-color: #000; /* Change the background color of the tab bar */
  }
  
  /* Optional: Style for the tab button icon and label */
  ion-tab-button ion-icon,
  ion-tab-button ion-label {
    color: #070707; /* Change the default color of the icon and label */
  }
  
  /* Optional: Style for the selected tab button icon and label */
  ion-tab-button.tab-selected ion-icon,
  ion-tab-button.tab-selected ion-label {
    color: rgb(7, 7, 7);  /* Ensure the icon and label are white when selected */
  }